@model FRS_Montagens_e_Manutenção.Models.Pessoa

<section class="perfil-cliente_perfil" 
    style="border: 1px solid #000000;
        margin: 5%;
        border-radius: 25px;
        display: flex;
        gap: 5rem;
        align-items: center;
        padding: 3rem;">
    <div>
        <img src="./images/user.svg" alt="Foto do Usuário">
    </div>
    <div>
        <h2 class="perfil-cliente_titulo">Olá @Model.Nome</h2>
        <p class="perfil-cliente_texto">Email @Model.Email</p>
    </div>
</section>

<div class="perfil-cliente_container">
    <h5>Pedidos</h5>
</div>

<table>
    <thead class="perfil-cliente_table_cabecalho">
        <tr>
            <th>ID PEDIDO</th>
            <th>PROJETO</th>
            <th>STATUS</th>
            <th>% CONCLUIDO</th>
            <th>DESCRIÇÃO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>0000312</th>
            <th>Dry Fiber</th>
            <th>Em Andamento</th>
            <th>78%</th>
            <th>Confecção de Tanques</th>
            <th></th>
        </tr>
        <tr>
            <th>0000387</th>
            <th>Manutenção Caldeira</th>
            <th>Concluido</th>
            <th>100%</th>
            <th>Troca dos dutos da Caldeira</th>
            <th></th>
        </tr>
    </tbody>
</table>
