<section class="perfil-func_perfil">
    <div>
        <img src="./img/user.svg" alt="Foto do Usuário">
    </div>
    <div>
        <h2 class="perfil-func_perfil_titulo">Nome Funcionario</h2>
        <p class="perfil-func_perfil_texto">CPF: XXX.XXX.XXX-XX</p>
        <p class="perfil-func_perfil_texto">Email: exemplo@email.com</p>
        <p class="perfil-func_perfil_texto">Telefone: 17 99777-1122</p>
    </div>
</section>

<div class="perfil-func_container">
    <div>
        <h4 class="perfil-func_container_titulo">Cadastrar um novo perfil do cliente?</h4>
        <h7 class="perfil-func_container_sub">Seja redirecionado a uma página para o cadastro.</h7>
    </div>
    <a asp-controller="Registro" class="btn perfil-func_btn">Cadastrar novo Cliente</a>
</div>

<div class="perfil-func_container">
    <div>
        <h4 class="perfil-func_container_titulo">Cadastrar um novo pedido?</h4>
        <h7 class="perfil-func_container_sub">Seja redirecionado a uma página para o cadastro.</h7>
    </div>
    <a href="#" class="btn perfil-func_btn">Cadastrar novo Pedido</a>
</div>

<div class="perfil-func_search-section">
    <h3 class="perfil-func_search-section_titulo">Deseja realizar a consulta de um pedido?</h3>
    <p class="perfil-func_search-section_texto">Informe o CNPJ da empresa em que ele está vinculado: </p>
    <div class="search-bar perfil-func_search-bar">
        <input type="text" placeholder="">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="2vw">
                <path fill="#ffcd56" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
            </svg>
        </a>
    </div>
</div>
