@using FRS_MONTAGEM_MANUTENÇÕES.Models.ViewModels

@model PessoaClienteTelefone

<style>
    .registro-cliente__container-fone {
        display: block;
        width: 50%;
        margin-inline: 5%;
    }
</style>

<form asp-action="Create" class="registro-cliente__formulario">
    <h2 class="registro-cliente__formulario-titulo">REGISTRO DE UM NOVO CLIENTE</h2>
    <div class="registro-cliente__container">
        <label for="nome" class="registro-cliente__form-label">Nome do Cliente:</label>
        <input type="text" asp-for="Nome" class="registro-cliente__form-input">
    </div>
    <div class="registro-cliente__container">
        <label for="nome" class="registro-cliente__form-label">E-mail:</label>
        <input type="text" asp-for="Email" class="registro-cliente__form-input">
    </div>
    <div class="registro-cliente__container">
        <label for="cnpj" class="registro-cliente__form-label">CNPJ:</label>
        <input type="text" asp-for="Cnpj" class="registro-cliente__form-input" style="width: 60%;">
    </div>
    <div class="registro-cliente__container-fone">
        <div class="registro-cliente__container registro-cliente__fone">
            <label for="fone" class="registro-cliente__form-label">Fone:</label>
            <input type="text" asp-for="Telefones[0].NTelefone" class="registro-cliente__form-input">
        </div>
        <div class="registro-cliente__container registro-cliente__fone">
            <label for="foneA" class="registro-cliente__form-label">Fone Adicional:</label>
            <input type="text" asp-for="Telefones[1].NTelefone" class="registro-cliente__form-input">
        </div>
    </div>
    <div class="registro-cliente__container">
        <div class="registro-cliente__container-endereco">
            <div class="registro-cliente__endereco registro-cliente__item-1">
                <label for="rua" class="registro-cliente__form-label">Rua:</label>
                <input type="text" asp-for="Rua" class="registro-cliente__form-input">
            </div>
            <div class="registro-cliente__endereco registro-cliente__item-2">
                <label for="numero" class="registro-cliente__form-label">Número:</label>
                <input type="text" asp-for="NResidencia" class="registro-cliente__form-input" style="width: 60%;">
            </div>
        </div>
        <div class="registro-cliente__container-endereco">
            <div class="registro-cliente__endereco registro-cliente__item-3">
                <label for="bairro" class="registro-cliente__form-label">Bairro:</label>
                <input type="text" asp-for="Bairro" class="registro-cliente__form-input">
            </div>
            <div class="registro-cliente__endereco registro-cliente__item-2">
                <label for="cep" class="registro-cliente__form-label">CEP:</label>
                <input type="text" asp-for="Cep" class="registro-cliente__form-input" style="width: 70%;">
            </div>
        </div>
        <div class="registro-cliente__container-endereco">
            <div class="registro-cliente__endereco">
                <label for="cidade" class="registro-cliente__form-label">Cidade:</label>
                <input type="text" asp-for="Cidade" class="registro-cliente__form-input" style="width: 90%;">
            </div>
            <div class="registro-cliente__endereco registro-cliente__item-2 registro-cliente__custom-select-wrapper">
                <label for="uf" class="registro-cliente__form-label">UF:</label>
                <select asp-for="Uf" class="registro-cliente__form-input registro-cliente__form-select">
                    <option value=""></option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>
        </div>
    </div>
    <div class="registro-cliente__container">
        <label for="senha" class="registro-cliente__form-label">Criar nova Senha</label>
        <input type="password" asp-for="Senha" class="registro-cliente__form-input">
    </div>
    <button class="registro-cliente__btn mx-2 my-2" type="submit">Finalizar Cadastro</button>
</form>
 