
:root {
    --cor-header: #121212 !important;
    --cor-fundo: #1E1E1E !important;
    --cor-amarelo: #ffc846 !important;
    --cor-amarelo-escuro: #ba9131 !important;
    --cor-texto: #fff !important;
    --cor-secao: #181818 !important;
    --button-text: #0E0E10 !important;
    --fundo-contato: #E7E8EC !important;
    --loginform-background: #181818b3 !important;
    --login-input: rgba(255, 255, 255, 0.05) !important;
    --account-section-background: #272727 !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--cor-fundo) !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*---------------------------- Registro Pessoa --------------------------------*/

.registro-cliente__formulario{
    height: 90%;
    width: 60%;
    margin: 50px auto;
    border: 10px;
    border-radius: 25px;
    background-color: rgba(25, 25, 25, 0.65);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px #FFC846;
    padding: 1rem;
}

.registro-cliente__formulario-titulo {
    color: #FFC846;
    align-self: center;
}

.registro-cliente__container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-inline: 8%;
    margin-top: 2rem;
}

.registro-cliente__container-fone {
    display: flex;
    width: 40%;
    margin-inline: 5%;
}

.registro-cliente__container-endereco {
    display: flex;
    gap: 4rem;
}

.registro-cliente__form-label {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.registro-cliente__form-input {
    background-color: #292929;
    border: none;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 30px;
    padding-inline: 1rem;
}

.registro-cliente__fone {
    width: 100%;
}

.registro-cliente__endereco-titulo {
    align-self: center;
}

.registro-cliente__endereco {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.registro-cliente__item-1 {
    flex: 2.5px;
}

.registro-cliente__item-2 {
    flex: 1;
}

.registro-cliente__item-3 {
    flex: 2;
}

.registro-cliente__form-select {
    appearance: none;
    width: 50%;
    background-image: url('../../images/lupaAmarela.svg');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}

.registro-cliente__btn {
    width: 100%;
    color: #000000;
    background-color: var(--cor-amarelo);
    border: none;
    font-size: 28px;
    border-radius: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 2vh auto;
    padding: 0.5vw 2vw;
}

.registro-cliente__btn-link {
    margin: 2vh auto;
}

/*---------------------------- Fim Registro Pessoa --------------------------------*/


/*---------------------------- Registro Pedido --------------------------------*/

.semi-main {
    color: #FFC846 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.formulario {
    background-color: #191919CC;
    border-radius: 2vw;
}


input, textarea {
    background-color: #292929;
    outline: none;
    border: none;
    color: #fff;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formulario div > p {
    font-weight: 600;
    margin: 0;
}


.botoes button {
    border-radius: 0.5vw;
    width: 40%;
}

.continuar {
    background: #FFC846;
    border: none;
}

.cancelar {
    background: #121212;
    color: #FFC846;
}

.continuar:hover {
    background: #e0ae37;
}

.cancelar:hover {
    background: #141414;
    color: #e0ae37;
    border: #e0ae37;
}

/*---------------------------- Fim Registro Pedido --------------------------------*/

/* --------------------------- Perfil Cliente ---------------------------------- */

.perfil-cliente_perfil {
    border: 1px solid #000000;
    margin: 5%;
    border-radius: 25px;
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 3rem;
}

.perfil-cliente_titulo {
    color: var(--cor-amarelo);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    margin-top: 0;
}

.perfil-cliente_texto {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.perfil-cliente_container {
    color: var(--cor-amarelo);
    font-size: 38px;
    margin-left: 9rem;
}

/* ------------------------------- Data Table -------------------------------*/

table {
    width: 93%;
    margin-inline: auto;
    border-spacing: 0px;
    margin-bottom: 3rem;
}

tbody {
    color: #FFF;
    background-color: #191919;
}

.perfil-cliente_table_cabecalho {
    background-color: var(--cor-amarelo);
}

.perfil-cliente_table_cabecalho_fim {
    padding-inline: 0.8rem;
}

td {
    border-right: 1px solid #000000;
}

/* ------------------------------- Fim Perfil Cliente -------------------------------*/

.formulario {
    background-color: #252525;
    width: 75%;
    margin: 0 auto;
    padding: 0.5vw 3vw;
    margin-bottom: 10vh;
}

    .formulario h3 {
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: 700;
        color: #FFC846;
    }

    .formulario input {
        font-family: 'Poppins';
        border: none;
        outline: none;
        background-color: #303030;
        padding: 1vw;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
    }

    .formulario > div {
        margin: 2vw 0;
    }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #727272;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .2s;
        transition: .2s;
    }

input:checked + .slider {
    background-color: #FFC846;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FFC846;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-btn {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 3rem;
}

    .edit-btn > button {
        border: none;
        padding: 0.5vw 3vw;
        margin: 0 1vw;
        border-radius: 0.7vw;
        background-color: #FFC846;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 1rem;
        color: #000000;
    }

/* ------------------- TABELA DE TOPICOS ----------------------*/