<div class="background">
    <form action="" class="cadastro-cliente_formulario">
        <h2 class="cadastro-cliente_formulario-titulo">REGISTRO DE UM NOVO CLIENTE</h2>
        <div class="cadastro-cliente_container">
            <label for="nome" class="cadastro-cliente_form-label">Nome do Cliente:</label>
            <input type="text" name="nome" id="nome" class="cadastro-cliente_form-input">
        </div>
        <div class="cadastro-cliente_container">
            <label for="email" class="cadastro-cliente_form-label">E-mail:</label>
            <input type="text" name="email" id="email" class="cadastro-cliente_form-input">
        </div>
        <div class="cadastro-cliente_container">
            <label for="cnpj" class="cadastro-cliente_form-label">CNPJ:</label>
            <input type="text" name="cnpj" id="cnpj" class="cadastro-cliente_form-input" style="width: 60%;">
        </div>
        <div class="cadastro-cliente_container-fone">
            <div class="cadastro-cliente_container fone">
                <label for="fone" class="cadastro-cliente_form-label">Fone:</label>
                <input type="text" name="fone" id="fone" class="cadastro-cliente_form-input">
            </div>
            <div class="cadastro-cliente_container fone">
                <label for="foneA" class="cadastro-cliente_form-label">Fone Adicional:</label>
                <input type="text" name="foneA" id="foneA" class="cadastro-cliente_form-input">
            </div>
        </div>
        <div class="cadastro-cliente_container">
            <div class="cadastro-cliente_container-endereco">
                <div class="cadastro-cliente_endereco item-1">
                    <label for="rua" class="cadastro-cliente_form-label">Rua:</label>
                    <input type="text" name="rua" id="rua" class="cadastro-cliente_form-input">
                </div>
                <div class="cadastro-cliente_endereco item-2">
                    <label for="numero" class="cadastro-cliente_form-label">Número:</label>
                    <input type="text" name="numero" id="numero" class="cadastro-cliente_form-input" style="width: 60%;">
                </div>
            </div>
            <div class="cadastro-cliente_container-endereco">
                <div class="cadastro-cliente_endereco item-3">
                    <label for="bairro" class="cadastro-cliente_form-label">Bairro:</label>
                    <input type="text" name="bairro" id="bairro" class="cadastro-cliente_form-input">
                </div>
                <div class="cadastro-cliente_endereco item-2">
                    <label for="cep" class="cadastro-cliente_form-label">CEP:</label>
                    <input type="text" name="cep" id="cep" class="cadastro-cliente_form-input" style="width: 70%;">
                </div>
            </div>
            <div class="cadastro-cliente_container-endereco">
                <div class="cadastro-cliente_endereco">
                    <label for="cidade" class="cadastro-cliente_form-label">Cidade:</label>
                    <input type="text" name="cidade" id="cidade" class="cadastro-cliente_form-input" style="width: 90%;">
                </div>
                <div class="cadastro-cliente_endereco item-2 custom-select-wrapper">
                    <label for="uf" class="cadastro-cliente_form-label">UF:</label>
                    <select name="uf" class="cadastro-cliente_form-input cadastro-cliente_form-select">
                        <option value=""></option>
                        <option value="">AC</option>
                        <option value="">AL</option>
                        <option value="">AP</option>
                        <option value="">AM</option>
                        <option value="">BA</option>
                        <option value="">CE</option>
                        <option value="">DF</option>
                        <option value="">ES</option>
                        <option value="">GO</option>
                        <option value="">MA</option>
                        <option value="">MT</option>
                        <option value="">MS</option>
                        <option value="">MG</option>
                        <option value="">PA</option>
                        <option value="">PB</option>
                        <option value="">PR</option>
                        <option value="">PE</option>
                        <option value="">PI</option>
                        <option value="">RJ</option>
                        <option value="">RN</option>
                        <option value="">RS</option>
                        <option value="">RO</option>
                        <option value="">RR</option>
                        <option value="">SC</option>
                        <option value="">SP</option>
                        <option value="">SE</option>
                        <option value="">TO</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="cadastro-cliente_container">
            <label for="senha" class="cadastro-cliente_form-label">Criar nova Senha</label>
            <input type="password" name="senha" id="senha" class="cadastro-cliente_form-input">
        </div>
        <div class="cadastro-cliente_container">
            <label for="senha-repetir" class="cadastro-cliente_form-label">Repetir Senha</label>
            <input type="password" name="senha-repetir" id="senha-repetir" class="cadastro-cliente_form-input">
        </div>
        <a href="account.html" class="cadastro-cliente_btn-link"><button class="cadastro-cliente_btn" type="submit">Finalizar Cadastro</button></a>
    </form>
</div>
