@import url(./style-main.css);

body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding: 0;
    background-image: url("../../images/image.png");
}

header{
    height: 6vw;
    align-content: center;
    margin:0;
    background: var(--cor-header);
}

header img{
    width: 14vw;
    margin-left: 3vw;
    margin-top: 3.5vh;
}

.banner {
    width: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* --------------------------------- BODY --------------------------------- */

.formulario{
    height: 90%;
    width: 60%;
    margin: 50px auto ;
    border: 10px;
    border-radius: 25px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px #FFC846;
    padding: 1rem;
}

.formulario-titulo{
    color: #FFC846;
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
    margin-inline: 8%;
    margin-top: 2rem;
}

.container-fone{
    display: flex;
    width: 40%;
    margin-inline: 5%;
}

.container-endereco{
    display: flex;
    gap: 4rem;
}

.form-label {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin-left: 2rem;
}

.form-input{
    background-color: #292929;
    border: none;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 30px;
    padding-inline: 1rem;
}

.fone{
    width: 100%;
}

.endereco-titulo{
    align-self: center;
}

.endereco{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.item-1{
    flex: 2.5;
}

.item-2 {
    flex: 1;
}

.item-3{
    flex: 2;
}

.form-select{
    appearance: none;
    width: 50%;
    background-image: url('../../images/lupaAmarela.svg');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}

.btn{
    color: #000000;
    background-color: var(--cor-amarelo);
    border: none;
    margin-block: 4rem;
    margin-inline: 14%;
    font-size: 28px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
