@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* ------------------------------- Configuração Página -------------------------------*/

:root{
    --cor-header:#121212;
    --cor-fundo:#1E1E1E;
    --cor-amarelo: #ffc846;
    --cor-amarelo-escuro:#ba9131;
    --cor-texto: #fff;
    --cor-secao: #181818;
    --button-text:#0E0E10;
    --fundo-contato: #E7E8EC;
    --loginform-background: #181818b3;
    --login-input: rgba(255, 255, 255, 0.05);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    margin:0px;
    padding: 0;
    
}

header{
    height: 6vw;
    align-content: center;
    margin:0;
    background: var(--cor-header);
}

header img{
    width: 14vw;
    margin-left: 3vw;
    margin-top: 3.5vh;
}

/* ------------------------------- Fim -------------------------------*/

/* ------------------------------- NavBar -------------------------------*/

.navbar{
    width: 50vw;
    float:inline-end;
    margin-right: 5vw;
}

.navbar ul{
    float: end;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}

.navbar{
    text-decoration: none;
}

.navbar-menu{
    display: none;
}

.nav-link{
    position: relative;
    padding-bottom: 6px;
    margin: 0.1vw;
    color:var(--cor-texto);
    font-size: 0.9em;
}

.nav-link a{
    text-decoration: none;
    color:var(--cor-texto);
}

.nav-link:hover a{
    color:var(--cor-amarelo)
}

.nav-link:before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-amarelo);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before{
    visibility: visible ;
    width: 120%;
}


.login-button {
    background: var(--cor-amarelo);
    width: 8vw;
    max-width: 150px;
    height: 3.5vw;
    font-weight: 650;
    font-size: 1.2vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    margin-bottom: 2px;
}

.login-button{
    text-decoration: none;
    color:var(--button-text);
}
.login-button:hover{
    background: var(--cor-amarelo-escuro);
}

/* ------------------------------- Fim NavBar -------------------------------*/



/* ------------------------------- Rodape -------------------------------*/

.rodape{
    background-color: #121212;
    border-top: solid 2px #ffc846 ;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    clear: both;
}
.rodape-logo{
    width: 13vw;
    max-width: 200px;
    margin-left: 40px;
    margin-top: 15px;
    float: left;
    position: absolute;
    
}



.rodape-conteudo {
    display: flex;
    justify-content:space-around ;
    margin: 0 auto ;
    width: 60vw;

}
.rodape-links, .rodape-social, .rodape-contato{
    width:40%;
}
.rodape-conteudo li{
    font-size: 0.8em;
    padding: 5px 0;
}

.rodape-links, .rodape-contato, .rodape-social{
    margin:0 auto;
    list-style-type: none;
    color:var(--cor-amarelo);
    
}

.rodape-links h3, .rodape-contato h3, .rodape-social h3{
    color:var(--cor-amarelo);
    margin:0 0 20 0;
}

.rodape-links li, .rodape-contato li, .rodape-social li{
    list-style: none;
}
.rodape-links a, .rodape-contato a, .rodape-social a{
    text-decoration: none;
    color:var(--cor-amarelo);
    font-weight: 350;
}

.rodape-links a:hover{
    text-decoration: underline;
    color:var(--cor-amarelo-escuro)
}



.rodape h5{
    color:#ffc846;
    text-align: center;
    font-weight: 500;
    margin:0px;
    padding: 10px 0px 20px 0px;
}

/* -------------------------------  Fim Rodape -------------------------------*/