@import url('style-main.css');

.banner {
    position: relative;
    overflow: hidden;
}

.banner img{
    width:100vw;
    height: 70dvh;
    filter: blur(2px) ;
}

/* ------------------------------- Main -------------------------------*/


#conteudo{
  width: 100%;  
}

.texto-sobre, .texto-historia{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cor-amarelo);
    clear:both;
}

.texto-sobre p, .texto-historia p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    color: var(--cor-texto);
    font-weight: 400;
}



#sobre{
    display: flex;
    background-color: var(--cor-secao);
    padding: 0px 20px;
    margin: 40px 0;
}
.texto-sobre{
    margin:0px 50px;
}

#conteudo-historia{
    display: flex;
    background-color: var(--cor-secao);
    padding: 0px 20px;
    margin: 40px 0;
}

.texto-historia{
    margin:0px 50px;

}


/* ------------------------------- Fim Main -------------------------------*/




/* ------------------------------- Contato -------------------------------*/

#contato-section{
    margin:0;
    padding: 0;

}

.contato-header{
    background-color: #ffc846;
    color: #181818;
    width: 100%;    
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top:0;
}

.contato{
    width: 60vw;
    margin:0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    padding-left: 30px;
    color:var(--cor-texto)
}


.contato hr{
    border: 1px solid var(--cor-amarelo-escuro);
    padding: 0;
    margin-left:0;

}

.email, .fone{
    width:45%;

}

.contato h1{
    color:var(--cor-amarelo);
}


/* -------------------------------  Fim Contato -------------------------------*/


/* -------------------------------- Mapa  -------------------------------*/

.secao-mapa{
    display: flex;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    justify-content: space-between;
    margin:30px auto;
    background-color: #181818;
}

.mapa-texto{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;

}

.mapa-texto h1{
    color: var(--cor-amarelo);
}

.mapa-p{
    color: var(--cor-texto);
    font-size: 0.9em;
    
}

.secao-mapa iframe{
    width: 55%;
    border-radius: 0.5vw;
}

/* -------------------------------  Fim Endereco -------------------------------*/




/* ------------------------------- Celular -------------------------------- */

@media (max-width: 500px){
    body{
        font-size: 0.8rem;
    }

    .header{
        height: 15dvh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    .header img{
        margin: 0;
        width: 23vw;
    }

    .navbar{
        margin: 0;
    }

    .navbar ul{
        display: none;
    }

    .navbar-menu{
        display: inline;
        width: 7vw;
        float: inline-end;
    }

    #sobre, #conteudo-historia{
        text-align: center;
        padding: 5vh 0;
    }

    #conteudo hr{
        margin-bottom: 4dvh;
        margin: -10px 15vw 7vw 15vw;
    }


    .contato-header{
        height: 15vh ;
        font-size: 1.2rem;
        margin: 0;
    }

    .contato{
        display: grid;
        width: 100vw;
        padding: 0;
    }

    .contato hr{
        width: 90%;
        margin: 7dvh 0;
    }

    .email, .fone{
        width: 80%;
        padding: 2vh 10vw;
    }

    .secao-mapa{
        display: grid;
        height: 90vh;
        width: 100%;
    }

    .secao-mapa iframe{
        width: 100vw;
        height: 50vh;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape-logo{
        position: static;
        margin: 5vh auto;
        width: 15vw;
    }

    .rodape-links, .rodape-contato{
        display: none;
    }

    .rodape-social ul{
        padding: 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }


}