<section class="perfil-cliente_perfil">
    <div>
        <img src="/img/user.svg" alt="Foto do Usuário">
    </div>
    <div>
        <h2 class="perfil-cliente_titulo">Nome Cliente</h2>
        <p class="perfil-cliente_texto">CNPJ: XX.XXX.XXX/0001-XX</p>
        <p class="perfil-cliente_texto">Email: exemplo@email.com</p>
        <p class="perfil-cliente_texto">Telefone: 17 99777-1122</p>
    </div>
</section>

<div class="perfil-cliente_container">
    <h5>Pedidos</h5>
</div>

<table>
    <thead class="perfil-cliente_table_cabecalho">
        <tr>
            <th>ID PEDIDO</th>
            <th>PROJETO</th>
            <th>STATUS</th>
            <th>% CONCLUIDO</th>
            <th>DESCRIÇÃO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>0000312</th>
            <th>Dry Fiber</th>
            <th>Em Andamento</th>
            <th>78%</th>
            <th>Confecção de Tanques</th>
            <th></th>
        </tr>
        <tr>
            <th>0000387</th>
            <th>Manutenção Caldeira</th>
            <th>Concluido</th>
            <th>100%</th>
            <th>Troca dos dutos da Caldeira</th>
            <th></th>
        </tr>
    </tbody>
</table>
