@model FRS_Montagens_e_Manutenção.Models.Pedido

<form class="formulario" asp-controller="RegistroPedido">
    <div class="teste">   
        <h1>CRIAR UM NOVO PEDIDO</h1>
        <div class="id">
            <h3 class="boxtxtID">ID Pedido</h3>
            <div class="boxID">
                <h3>102.XXX.XXX</h3>
            </div>
        </div>
        <div style="width: 100%;">    
            <h3>CNPJ:</h3>
            <input style="width: 100%; height: 40px;">            
            </input>       
        <div>
            <h3>Nome do projeto:</h3>
            <input type="text" style="width: 100%;">
        </div>
        <div>
            <h3>Data Início Pedido:</h3>
            <input type="text" style="width: 100%;">
        </div>
        <div>
            <h3>Descrição do Pedido:</h3>
            <textarea class="descricao" name="descricao" rows="10vh" cols="85%"></textarea>
        </div>
        <div class="botoes">
            <button class="voltar"><h2>Voltar</h2></button>
            <button class="continuar" asp-action="CadastrarTopico"><h2 class="style="color: #000000;"">Continuar</h2></button>
        </div>
    </div>
</form>