@{
    ViewData["Title"] = "Home Page";
}


<div class="banner">
    <img src="./img/frs-banner.jpeg" alt="Banner FRS">
</div>

<main id="conteudo">
    <div id="sobre">
        <div class="texto-sobre">
            <h2>QUEM SOMOS</h2>
            <hr>
            <p>A FRS Montagens é especializada em montagem e manutenção de equipamentos industriais de alta qualidade. Nossa equipe assegura eficiência e segurança, proporcionando instalações precisas e modernização de sistemas para melhorar a competitividade de sua operação no mercado.</p>
            <p>Com foco na excelência, oferecemos serviços que abrangem desde a instalação de equipamentos novos até a execução precisa de projetos, assegurando a eficácia contínua e sem interrupções de suas operações industriais. Nosso compromisso com a qualidade e a satisfação do cliente é primordial em todas as etapas.</p>
        </div>
    </div>
    <div id="conteudo-historia">
        <div class="texto-historia">
            <h2>NOSSA HISTORIA</h2>
            <hr>
            <p>Bem-vindo à FRS Montagens e Manutenções Industriais, sua parceira de confiança para garantir a eficiência e a segurança das suas operações industriais.</p>
            <p>
                Na FRS, oferecemos uma gama completa de serviços especializados em montagem e manutenção de equipamentos industriais, sempre com foco na qualidade e na satisfação do cliente. Nosso compromisso é proporcionar soluções que mantenham suas operações em pleno funcionamento, minimizando paradas inesperadas e maximizando a produtividade.
            </p>
        </div>
    </div>
</main>

<section id="contato-section">
    <h2 class="contato-header">Quer entrar em contato conosco?</h2>
    <br>
    <div class="contato">
        <div class="email">
            <i class="fa-solid fa-envelope" style="color: #ffc846;"></i>
            <h1>Email</h1>
            <p>Tem alguma dúvida?</p>
            <p>Nos mande um e-mail</p>
            <br>
            <h4>frsmontagens@exemplo.com</h4>
        </div>
        <hr>
        <div class="fone">
            <i class="fa-solid fa-phone" style="color: #ffc846;"></i>
            <h1>Telefone</h1>
            <p>Entre em contato em qualquer momento</p>
            <br>
            <h4>(17) 99922-6644</h4>
        </div>
    </div>
    <br>
    <div class="secao-mapa">
        <div class="mapa-texto">
            <h1>Endereço</h1>
            <div class="mapa-p">
                <p>Avenida Doutora Maria Ines Dal'antonia Curi, 387</p>
                <p>Polo Comercial Industrial Raul de Carvalho</p>
                <p>Catanduva, SP</p>
                <p>15.813-505</p>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14888.691423019958!2d-48.950984702049915!3d-21.105673694556046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bc1f0fa245668f%3A0xcfbcda93a1f95a04!2sF.R.S%20-%20Montagens%20e%20Manuten%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1720397627741!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Localização da FRS Montagens"></iframe>
    </div>
</section>